{% extends 'base.html'%}
{%block title%}
Books
{{super()}}
{%endblock%}
{% include 'includes/navbar_home.html'%}
{%block content%}
<div class="container">
    {% if data %}
    <div class="row">
        <div class="col-md-3">
            {% for item in data %}
            <div class="card">
                <img src="{{url_for('static', filename='img/'+item['imagen'])}}"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">
                        {{item['nombre']}}
                    </h4>
                    <p class="card-text">
                        <a href="" class="btn btn-primary">Descargar</a>
                    </p>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col-md-3">2</div>
        <div class="col-md-3"></div>
        <div class="col-md-3">4</div>
    </div>
    {%else%}
    <h2>No hay libros en sistema</h2>
    {%endif%}
</div>
<!-- {% include 'includes/footer.html'%} -->
{%endblock%}