{% extends 'base.html'%}
{% block title%}
{{title}}
{{super()}}
{%endblock%}
{% include 'includes/navbar_admin.html'%}
{%block content%}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-header">
                    <h3>Datos del libro:</h3>
                </div>
                <div class="card-body">
                    <form action="{{url_for('admin.upload')}}" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="text" name="nombre" placeholder="Nombre del libro" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" name="autor" placeholder="Autor" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="file" name="imagenURL" placeholder="Imagen (URL)" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="url" placeholder="URL descarga" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="precio" placeholder="Precio" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="Agregar" class="btn btn-success">
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Libros registrados:</h2>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Libro</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                    {% for item in data%}
                    <tr>
                        <th scope="row">{{item[0]}}</th>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>Lps. {{item[4]}}</td>
                        <td>URL {{item[3]}}</td>
                        <td><img src="{{url_for('static', filename='img/item[3]')}}" alt="Imagen"></td>
                        <td>
                            <a href="#" class="btn btn-primary">Editar</a>
                            <a href="{{url_for('admin.delete_book', id=item[0])}}"
                                class="btn btn-outline-danger">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
                    {%else%}
                    <h2>No hay libros en registro</h2>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}